* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;}
 

.swiper {
    width: 100%;
    height: 100%;
  }


  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

  .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
    color: yellow;
}

:root {
    --swiper-theme-color: yellow;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: none;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none;
}

.video1{
    margin: 60px 40px 40px 40px; 

    justify-self: center;
}


.titgaleria{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.767);
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.item {
    width: 32%;
    padding-bottom: 0%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
  }



/* Map start */

.map h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #6B438A;
}

.map{
    margin-top: 4em;
}

/* Map end */

/* ##Dispositivo = Smartphones de 320px a 479px */

@media (min-width: 320px) and (max-width: 480px) {


    
        .logo {
            width: 23%;
            height: auto;
            margin-bottom: -6px;
        }
    

        .colum1 p {
            font-size: 13px;
            color: #C7C7C7;
            margin-top: 10px;
        }

        .galeria {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin: auto;
            margin-top: 17px;
        }

        .titgaleria {
            text-align: center;
            font-family: 'Quicksand', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 1.2em;
            margin-top: 1em;
            background-color: rgba(0, 0, 0, 0.767);
        }

        
     

    }